# Типы данных в Python

## 1. Числовые

### int

In [110]:
x = 5
type(x)

int

In [111]:
a = 4 + 5
b = 4 * 5
c = 5 / 4

a, b, c , type(c)

(9, 20, 1.25, float)

In [112]:
x = 5 * 1000000 * 1000000 * 1000000 * 1000000 + 1

x,type(x)

(5000000000000000000000001, int)

### float

In [113]:
y = 5.7

In [114]:
y, type(y)

(5.7, float)

In [115]:
a = 4.2 + 5.1
b = 4.2 * 5.1
c = 5.0 / 4.0

a, b, c

(9.3, 21.419999999999998, 1.25)

### bool

In [116]:
a = True
b = False

print(a)
print(type(a))

print(b)
print(type(b))

True
<class 'bool'>
False
<class 'bool'>

In [117]:
print(a + b)
print(a + a)
print(b + b)

1
2
0

In [118]:
int(a), int(b)

(1, 0)

In [119]:
print(True and False)
print(True and True)
print(False and False)

False
True
False

In [120]:
print(True or False)
print(True or True)
print(False or False)

True
True
False

## 2. None

In [121]:
z = None
print(z)
print(type(z))

None
<class 'NoneType'>

In [122]:
print(int(z))

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

## 3. Строковые

### str

In [123]:
x = "abc"
x, type(x)

('abc', str)

In [124]:
a = 'Ivan'
b = "Ivanov"
s = a + " " + b
s

'Ivan Ivanov'

In [125]:
a.upper(), a.lower()

('IVAN', 'ivan')

In [126]:
len(a)

4

In [127]:
bool(a) , bool("")

(True, False)

In [128]:
int(a)

ValueError: invalid literal for int() with base 10: 'Ivan'

In [129]:
print(a)
print(a[0])
print(a[1])
print(a[0:3])

Ivan
I
v
Iva

In [130]:
print(a[0:4:3])

In

In [131]:
splitted_line = "Ivanov Ivan Ivanovich".split(' ')
splitted_line

['Ivanov', 'Ivan', 'Ivanovich']

In [132]:
type(splitted_line)

list

In [3]:
'i want to be bigger'.capitalize()

'I want to be bigger'

In [10]:
'we all want to be bigger'.title()

'We All Want To Be Bigger'

## 3. Массивы

### list

In [133]:
saled_goods_count = [33450, 34010, 33990, 33200]
print(saled_goods_count)
print(type(saled_goods_count))

[33450, 34010, 33990, 33200]
<class 'list'>

In [134]:
income = ['Высокий', 'Средний', 'Высокий']
income

['Высокий', 'Средний', 'Высокий']

In [135]:
"---".join(income)

'Высокий---Средний---Высокий'

In [136]:
features = ['Ivan Ivanovich', 'Medium', 500000, 12, True]
features

['Ivan Ivanovich', 'Medium', 500000, 12, True]

In [137]:
print(features[0])
print(features[1])
print(features[3])

Ivan Ivanovich
Medium
12

In [138]:
features[0:5]

['Ivan Ivanovich', 'Medium', 500000, 12, True]

In [139]:
features[:5]

['Ivan Ivanovich', 'Medium', 500000, 12, True]

In [140]:
features[1:]

['Medium', 500000, 12, True]

In [141]:
features[2:5]

[500000, 12, True]

In [142]:
features[:-1]

['Ivan Ivanovich', 'Medium', 500000, 12]

In [143]:
features.append('One more element in list')
features

['Ivan Ivanovich', 'Medium', 500000, 12, True, 'One more element in list']

In [144]:
del features[-2]

In [145]:
features

['Ivan Ivanovich', 'Medium', 500000, 12, 'One more element in list']

### tuple

In [146]:
features_tuple = ('Ivan Ivanovich', 'Medium', 500000, 12, True)
type(features_tuple)

tuple

In [147]:
features_tuple[2:5]

(500000, 12, True)

In [148]:
features_tuple.append('one more element')

AttributeError: 'tuple' object has no attribute 'append'

## 4. Множества и словари

### set

In [149]:
names = {'Ivan', 'Petr', 'Konstantin'}

In [150]:
type(names)

set

In [151]:
'Ivan' in names , 'Medium' in features , 'Medium' in features_tuple

(True, True, True)

In [152]:
'Mikhail' in names

False

In [153]:
names.add('Mikhail')
names

{'Ivan', 'Konstantin', 'Mikhail', 'Petr'}

In [154]:
names.add('Mikhail')
names

{'Ivan', 'Konstantin', 'Mikhail', 'Petr'}

In [155]:
names.remove('Mikhail')
names

{'Ivan', 'Konstantin', 'Petr'}

In [156]:
names.add(['Vladimir','Sergey'])

TypeError: unhashable type: 'list'

In [157]:
names.add(('Vladimir', 'Vladimirovich'))
names

{('Vladimir', 'Vladimirovich'), 'Ivan', 'Konstantin', 'Petr'}

In [158]:
a = range(10000)
b = range(10000)
b = set(b)

In [159]:
print(a[:5])
print(a[-5:])

range(0, 5)
range(9995, 10000)

In [160]:
%%time
print(9999 in a)

True
CPU times: user 641 µs, sys: 86 µs, total: 727 µs
Wall time: 446 µs

In [161]:
%%time
print(9999 in b)

True
CPU times: user 93 µs, sys: 0 ns, total: 93 µs
Wall time: 76.5 µs

### dict

In [162]:
words_frequencies = dict()
words_frequencies['I'] = 1
words_frequencies['am'] = 1
words_frequencies['I'] += 1

words_frequencies

{'I': 2, 'am': 1}

In [163]:
words_frequencies['I']

2

In [164]:
words_frequencies = {'I': 2, 'am': 1}
words_frequencies

{'I': 2, 'am': 1}

In [165]:
yet_another_dict = {'abc': 3.4, 5: 7.8, '123': None}
yet_another_dict

{'abc': 3.4, 5: 7.8, '123': None}

In [166]:
yet_another_dict[(1,2,5)] = [4, 5, 7]
yet_another_dict

{'abc': 3.4, 5: 7.8, '123': None, (1, 2, 5): [4, 5, 7]}

In [167]:
yet_another_dict[[1,2,7]] = [4, 5]

TypeError: unhashable type: 'list'

## Где еще можно познакомиться с Python

* https://www.coursera.org/courses?query=Python
* https://www.codeacademy.com
* http://www.pythontutor.ru
* http://www.learnpythonthehardway.org
* http://snakify.org
* https://www.checkio.org

# Notebook and materials

https://www.coursera.org/learn/mathematics-and-python

https://www.coursera.org/specializations/machine-learning-data-analysis